/***
EASY integration stylesheet
***/

body { margin: 0px 50px 50px 50px;padding: 50px 30px 50px 30px;background-color: #eaeaea; }
.alert { margin: 30px 5px; }
h1 { font-weight: 200; margin-bottom:0; }
h1 .blued { color: #17a2b8; opacity: .2; }
h4 { margin: 0; text-transform: uppercase; font-size: 1.3rem; letter-spacing: .05em; }
h4.lined { font-size: 1.2rem; line-height: 38px; font-weight: 300; color: #17a2b8; }

input[type=text]{ background-color: #f7f7f7; border: 1px solid #eaeaea; outline: none !important; box-shadow: none !important; }
.form-control::placeholder { color: #b8c2cc; opacity: 1; /* Firefox */ }
.form-control:-ms-input-placeholder { /color: #b8c2cc; }
.form-control::-ms-input-placeholder { color: #b8c2cc; }
.form-control.CREFERENCE { background-color: #fff; height: 34px; text-align: center; }

.form-group { margin-bottom: 0rem; }

.head {
    margin: 20px 5px 0px 5px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 28px;
    background: #cecece;
    color: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.content-head {
    margin: 20px 5px 0px 5px;
    padding: 8px 5px;
    font-size: 14px;
    line-height: 28px;
    background: #f7f7f7;
    color: #6696b3;
    border: 1px solid #dadada;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
}
.content-head.big { font-size: 16px; line-height: 28px; color: #323232; }
.content-head.smallgap { margin: 0px 5px 0px 5px; }

.content-head-middle {
    margin: 0px 5px 0px 5px;
    padding: 5px;
    font-size: 14px;
    line-height: 28px;
    background: #f6f7f8;
    color: #6696b3;
    border: 1px solid #dadada;
    border-bottom: 0px;
    border-radius: 0px;
    border-top: 0px;
}

.info-container {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    background: #f7f7f7;
    border-radius: 3px 3px 0px 0px;
    color: #323232;
    font-size: 11px;
    text-transform: uppercase;
}
.info-container.slim { margin: 0px; }
.info-container.inline { margin: 0px; border-radius: 0px; background: #fff; }
.info-container.inline span { line-height: 38px; color: #6696b3; }
.info-container.center { margin: 20px 0px 10px 0px; border-radius: 0px; background: #fff; }
.info-container i { padding: 0px 10px 5px 10px; color: #6696b3; font-size: 14px; }

.ttip { cursor:pointer; }
.tooltip-inner { max-width: unset; width: auto; background-color: #81b6d7; }
.tooltip.bs-tooltip-right .arrow:before { border-right-color: #81b6d7 !important; }
.tooltip.bs-tooltip-left .arrow:before { border-left-color: #81b6d7 !important; }
.tooltip.bs-tooltip-bottom .arrow:before { border-top-color: #81b6d7 !important; }
.tooltip.bs-tooltip-top .arrow:before { border-top-color: #81b6d7 !important; }

.content {
    margin: 0px 5px 30px 5px;
    padding: 20px 5px 5px 5px;
    font-size: 14px;
    line-height: 28px;
    background: #fff;
    border: 1px solid #dadada;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
}
.content.smallgap { margin: 0px 5px 20px 5px; }

.content-middle {
    margin: 0px 5px 0px 5px;
    padding: 20px 5px 20px 5px;
    font-size: 14px;
    line-height: 28px;
    background: #fff;
    border: 1px solid #dadada;
    border-top: 0px;
    border-bottom: 0;
    border-radius: 0px;
}


.newline { padding-top: 10px; }

.hook {
    margin: 5px;
    padding: 6px 0px 6px 10px;
	font-size: 14px;
	line-height: 28px;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
	transition: all 0.3s ease;
}
.hook:hover, .hook:focus, .hook:active { 
	border: 1px solid #6696b3; 
//	cursor: move;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(73, 157, 189, 0.5);
	   -moz-box-shadow: 0px 0px 5px 0px rgba(73, 157, 189, 0.5);
			box-shadow: 0px 0px 5px 0px rgba(73, 157, 189, 0.5);
}
.hook.empty { background: #87d7db; color: #fff; }

i { padding: 0 15px 0 5px; line-height: 29px !important; color: #cecece; transition: all 0.3s ease; }
.hook:hover i, .hook:focus i, .hook:active i { color: #6696b3; }

.btn-close {
	color: #fff !important;
	background-color: #cc4d25;
	border-color: #9d3919;
	font-size: 26px;
	line-height: 18px;
	padding: 2px 6px 8px 6px;
	margin: -3px 7px 0px 0px;
	border-radius: 3px;
}
.btn-close:hover, .btn-close:active, .btn-close:focus { background-color: #db552a; border-color: #1ebdd7; }

.btn-data {
	color: #fff !important;
	background-color: #4ac8dd;
	border-color: #1692a6;
	font-size: 12px;
	line-height: 18px;
	padding: 5px 12px;
	margin: 0;
	border-radius: 3px;
}
.btn-data:hover, .btn-data:active, .btn-data:focus { background-color: #5adcf2; border-color: #1692a6; }



.btn-checkout {
	color: #fff !important;
	background-color: #5a8097;
	border-color: #5a8097;
	font-size: 14px;
	line-height: 18px;
	padding: 8px 15px;
	margin: 0;
	border-radius: 3px;
}
.btn-checkout:hover, .btn-checkout:active, .btn-checkout:focus { background-color: #709bb5; border-color: #5a8097; }

.btn-download {
	color: #fff !important;
	background-color: #5a8097;
	border-color: #5a8097;
	font-size: 14px;
	line-height: 18px;
	padding: 8px 15px;
	margin: 0;
	border-radius: 3px;
}
.btn-download:hover, .btn-download:active, .btn-download:focus { background-color: #709bb5; border-color: #5a8097; }




.btn-listing { margin: 0; padding: 10px 12px 7px 12px; font-size: 18px; line-height: 18px; text-align: center; border-radius: 3px; outline: none !important; box-shadow: none !important; }
.btn-listing i { padding: 0px; line-height: 18px !important; color: #f6f7f8; transition: all 0.3s ease; }
.btn-listing.minus { background-color: #e68e73; border-color: #b97561; }
.btn-listing.minus:hover, .btn-listing.minus:active, .btn-listing.minus:focus { background: #df7c5d; color:#fff; border-color: #b97561; }
.btn-listing.plus { background-color: #6696b3; border-color: #1692a6; }
.btn-listing.plus:hover, .btn-listing.plus:active, .btn-listing.plus:focus { background: #81b6d7; color:#fff; border-color: #1692a6; }



.badge { margin-right: 5px;padding: 8px 12px; font-size:12px; font-weight: 400; letter-spacing: .05em; text-transform: uppercase; border-radius: 3px; }

.badge-created { color: #878787; background-color: #f6f7f8; border: 1px solid #a8a8a8; }
.badge-new { color: #fff; background-color: #7bb8c2; border: 1px solid #17a2b8; }
.badge-new-2 { color: #fff; background-color: #7bb8c2; border: 1px solid #17a2b8; }
.badge-cancelled { color: #fff; background-color: #f9a74f; border: 1px solid #bf8241; }
.badge-completed { color: #fff; background-color: #b2d36b; border: 1px solid #89ca87; }
.badge-completed-2 { color: #fff; background-color: #b2d36b; border: 1px solid #89ca87; }
.badge-refund { color: #fff; background-color: #c579e8; border: 1px solid #701c97; }
.badge-failed { color: #fff; background-color: #d06727; border: 1px solid #9b3118; }


.navbar { margin-bottom: 20px; border: 1px solid #dadada; }

.navbar {
-webkit-box-shadow: 0px 0px 10px 1px rgba(50,50,50,.1);
   -moz-box-shadow: 0px 0px 10px 1px rgba(50,50,50,.1);
		box-shadow: 0px 0px 10px 1px rgba(50,50,50,.1);
}

li.nav-item.dropdown { margin:0 10px; }

.dropdown-menu {
-webkit-box-shadow: 0px 5px 5px 0px rgba(50,50,50,.1);
   -moz-box-shadow: 0px 5px 5px 0px rgba(50,50,50,.1);
		box-shadow: 0px 5px 5px 0px rgba(50,50,50,.1);
}

.dropdown-submenu .dropdown-menu {
-webkit-box-shadow: 4px 5px 5px 0px rgba(50,50,50,.1);
   -moz-box-shadow: 4px 5px 5px 0px rgba(50,50,50,.1);
		box-shadow: 4px 5px 5px 0px rgba(50,50,50,.1);
}

sub .sub-hlight{ color: #17a2b8; }


.navbar-brand { position: absolute; padding-top: 0; padding-left: .3125rem; text-transform: uppercase; font-weight: 200; }
.navbar-brand b, .nav-link b { font-weight: 400; color:#17a2b8; }
.dropdown-item, .nav-link { text-transform: uppercase; }
.dropdown-item { font-size: 14px; }
.dropdown-submenu { position: relative; }
.dropdown-submenu a::after { transform: rotate(-90deg); position: absolute; right: 6px; top: .8em; }
.dropdown-submenu .dropdown-menu { top: -17px; left: 100%; margin-left: .0rem; margin-right: .1rem; border-top: 1px solid #f8f9fa; border-left: 0px; }
.dropdown-menu { margin: .5rem 0 0; background-color: #f8f9fa; border: 1px solid #dadada; border-top: 0px;border-radius: 0; }
.navbar-light .navbar-nav .nav-link:hover { color: rgb(02, 150, 179); }
.dropdown-toggle::after { margin-left: .3em; color: rgb(102, 150, 179); }
.dropdown-item:focus, .dropdown-item:hover { color: #17a2b8; }
.dropdown-submenu a::after { top: .9em; }
.dropdown-item.active, .dropdown-item:active { color: #50b1ec; background-color: #f8f9fa;}

method { display: inline-block; font-weight: 200; width: 50px; color: #17a2b8; }

.custom-control-label { cursor: pointer; }
.custom-control-label.inline { padding-left:15px; color: #6696b3; }
.custom-switch { padding-top: 1px; padding-right: .8rem; }
.custom-switch.lined { padding-top: 5px; padding-right: .1rem; }
.custom-switch.centered { padding: 5px 0px 0px 0px; }
.custom-switch.generic.centered { padding: 2px 0px 0px 10px; }
.custom-switch .custom-control-label::after { background-color: #fff; }
.custom-control-label::before { background-color: #adb5bd; border: #adb5bd solid 1px; outline: none !important; box-shadow: none !important; }
.custom-control-label.dual::before { background-color: #6696b3; border: #6696b3 solid 1px; outline: none !important; box-shadow: none !important; }

.switch:checked ~ .custom-control-label::before { color: #fff; border-color: #6696b3; background-color: #6696b3; outline: none !important; box-shadow: none !important; }
.switch:disabled ~ .custom-control-label::after { background-color: #6696b3; }

.custom-switch .custom-control-label::before {
	height: 20px;
    left: -2.25rem;
    width: 36px;
    pointer-events: all;
    border-radius: 10px;
}

.custom-switch .custom-control-label::after {
    top: 5px;
    left: calc(-36px + 1px);
    width: calc(20px - 2px);
    height: calc(20px - 2px);
    border-radius: 10px;
}

.custom-switch .switch:checked ~ .custom-control-label::after { transform: translateX(1rem); }

span.lined { line-height: 30px; }


.codeblock {
    margin: 0px 5px 5px 5px;
    padding: 16px 10px;
    font-size: 12px;
    line-height: 28px;
    background: #5a8097;
    border: 0px solid #dadada;
    border-top: 0px;
    border-radius: 0px 0px 5px 5px;
    color: #dadada;
}
.codeblock.js { background: #975a5a; color: #eaeaea; }
.codeblock.download { padding-bottom: 10px; background: #f7f7f7; color: #eaeaea; border: 1px solid #dadada; border-top: 0px; }

.codeblock ul { margin: 0; padding: 0; list-style-type: none; }
.codeblock .form-group { margin-bottom: 0rem; }

div[class^="block-"], div[class*=" block-"] { margin-left: 20px; }



.codeblock p, 
li.lined,
li.comma {
	margin: 0px;
    line-height: 17px;
}

.codeblock span { color:#fff; }


// replaced with js, content is not read by DOM when exporting for download
//li p span.comma:after { content: ","; }
//li:last-of-type p span.comma:after { content: ""; }





.ui-sortable {
    list-style-type: none; 
    padding: 0; 
}
.ui-sortable li.ui-state-default { 
	margin: 0; 
	position: relative;
	cursor: move;
}
.ui-sortable li.ui-state-default:first-child {
	border-top: 0; 
}
.ui-sortable li.ui-state-default:last-child {
	border-bottom: 0;
}

.ui-sortable-placeholder {
	margin:5px;
	border: 3px dashed #aaa;
	height: 45px;
	width: calc(100% - 10px);
	background: #ccc;
}
.ui-sortable li.ui-state-default:after {
	display: inline-block;
	cursor: move;
}

.card { border-radius: 5px; margin: 0 5px; }
.card-body { padding: 10px; }
.card-body .form-group { margin-bottom: 0; }

.AMOUNT {
	position: absolute;
	left: 30px;
	width: calc(100% - 70px);
	text-align:center;
	border-left:0;
	border-right:0;
	border-radius:0px;
    transition: all 0s ease;
}
.AMOUNT:active, .AMOUNT:focus  { outline: none !important; box-shadow: none !important; }

.UNIT  { text-transform:uppercase; }
.PRICE  { text-align:right; }

.MINUS {
	position: absolute;
	left: 1px;
	top: 0px;
	width: 40px;
	height: 38px;
	text-align: center;
	line-height: 35px;
	background: #f6f7f8;
	border: 1px solid #eaeaea;
	border-right: 0px;
	border-radius: 5px 0px 0px 5px;
	cursor: pointer;
	z-index:2;
}

.PLUS {
	position: absolute;
	right: 11px;
	top: 0px;
	width: 40px;
	height: 38px;
	text-align: center;
	line-height: 35px;
	background: #f6f7f8;
	border: 1px solid #eaeaea;
	border-left: 0px;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
	z-index:2;
}

.MINUS i, .PLUS i {
	padding: 0;
    line-height: 38px !important;
    color: #cecece;
    transition: all 0.3s ease;
}

.MINUS:hover i, .MINUS:active i, .MINUS:focus i,
.PLUS:hover i, .PLUS:active i, .PLUS:focus i {color: #6696b3; }

.custom-select { background: #f7f7f7; border: 1px solid #eaeaea; cursor:pointer; }
.selector-arrow { position: absolute; top: 4px; right: -2px;	pointer-events: none; }
.selector-arrow.newline { position: absolute; top: 3px; right: -2px;	pointer-events: none; }

.custom-select:active, .custom-select:focus  { outline: none !important; box-shadow: none !important; }

.custom-select.API {
    background: #81b6d7;
    color: #f6f7f8;
    text-transform: uppercase;
    border-color: #6696b3;
}

.custom-select.API option {
    background: #fff;
    color: #333;
    text-transform: uppercase;
    border-color: #6696b3;
}
.selector-arrow.api i { color: #fff; }

.listing {
	margin:0px 5px 5px 5px;
	padding:20px 5px 5px 5px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #dadada;
	border-top:0px;
    border-radius:0px 0px 5px 5px;
}

.discount {
	margin:0px 5px 5px 5px;
	padding:5px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #dadada;
	border-top:0px;
    border-radius:0px 0px 5px 5px;
}

.disc { background-color: #eaeaea !important; z-index: 2; }

#product_fields .listing {
	height: 50px;
	margin:5px;
	padding:5px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
}

.pricebox { width: 50%; position: absolute; display: flex; }
div[class^="cur-"], div[class*=" cur-"] { line-height: 38px; padding: 0 5px; text-align: center; color: #878787; }

.hosted {
    margin: 30px 0px 0px 0px;
    padding: 5px;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
	text-transform:uppercase;
}
#CodeContainer { margin-top: 20px; }
#CodeContainer .card-header { padding: 8px 15px; }
#CodeContainer .card-body { padding:10px; background: #5a8097; color: #eaeaea; line-height: 17px; font-size: 12px; }
#CodeContainer h5 { font-size: 14px; line-height: 28px; color: #6696b3; }
#CodeContainer a:hover { text-decoration: none; }
#CodeContainer i { float: right; padding: 0 0px 0 5px; color: #6696b3; }
.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#b2-block, #content-b2 { display: contents; }

pre {
    padding: 30px;
    background: #5a8097;
    color: #eaeaea;
    font-size: 11px;
    line-height: 12px;
    border-radius: 5px;
    letter-spacing: .05em;
}

